<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <p>
        A list of colours
    </p>

    <a href="/cat">
        <span>Something in a span</span>
        Text not in a span
        <b>Bold text!</b>
    </a>
    
    <ul>
        <li>red</li>
        <li>green</li>
        <li>blue</li>
        <li>yellow</li>
        <li>orange</li>
        <li>brown</li>
        <li>pink</li>
    </ul>

    <a href="/dog">
        <span>other span text</span>
        other Text not in span
        <p>HI!</p>
        <b>other Bold text</b>
    </a>
    
    <footer>
        A footer
    </footer>
    
</body>
</html>