<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animals</title>
</head>
<body>

    <a href="/cat">
        <span>The cat is a domestic species of small carnivorous mammal.</span>
        It is the only domesticated species in the family Felidae and is commonly referred to as the domestic cat.
        <b>- Height: 23 – 25 cm</b>
    </a>
    
    <p>
        A list of Animals
    </p>
    <ul>
        <li>Alpaca</li>
        <li>Baboon</li>
        <li>Chicken</li>
        <li>Elephant</li>
    </ul>

    <p> 
        A camel is an even-toed ungulate in the genus Camelus that bears distinctive fatty deposits known as "humps" on its back. Camels have long been domesticated and, as livestock, they provide food and textiles
    </p>

    <div>
        <a href="/Alpaca">
            <span>The alpaca is a species of South American camelid mammal. </span>
            alpacas are often noticeably smaller than llamas. 
            <p>- The two animals are closely related and can successfully crossbreed. </p>
        </a>

    </div>
    
    <a href="/dog">
        <span>The dog is a domesticated descendant of the wolf.</span>
        Also called the domestic dog
        <p>- Daily sleep: 12 – 14 hours </p>
    </a>

    
    <footer>
        A footer
    </footer>
    
</body>
</html>